
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Home", FormMethod.Post, new { enctype = "multpart/form-data" }))
{


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h4 style="text-align:center"><strong>@Html.ValidationMessage("DefaultErrorMessage", new { @class = "text-danger" })</strong></h4>


    <section>
        <article class="jumbotron jumbotron-fluid">

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.Label("Nome:", new { @class = "" })
                </div>
                <div>
                    @Html.TextBox("Nome", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    @Html.Label("Email:", new { @class = "" })
                </div>
                <div>
                    @Html.TextBox("Email", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.Label("Password:", new { @class = "" })
                </div>
                <div>
                    @Html.TextBox("Password", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    @Html.Label("ConfirmPassword:", new { @class = "" })
                </div>
                <div>
                    @Html.TextBox("ConfirmPassword", null, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="form-group"></div>
                <input type="submit" name="btn-cadastrar" class="btn btn-default" value="Cadastrar" />
            </div>

        </article>
    </section>
}